.moveall,
.removeall {
    border: 1px solid #ccc !important;
}

/*:hover {
    background: #efefef;
}*/



.moveall::after {
    content: attr(title);
}

.removeall::after {
    content: attr(title);
}

.form-control option {
    border-bottom: 1px solid #efefef;
    padding: 10px;
}
