@page
@model WaterUtilPro.Pages.AccountManager.IndexModel

<h3>Account settings</h3>

    <div class="row gutters-sm">
        <div class="col-md-4 d-none d-md-block">
            <div class="card">
                <div class="card-body">
                    <nav class="nav flex-column nav-pills nav-gap-y-1">
                        <a href="#profile" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
                            <i class="fas fa-user mr-2 "></i>Profile Information
                        </a>
                        <a href="#account" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                            <i class="fas fa-cog mr-2"></i>Account Settings
                        </a>
                        <a href="#security" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                            <i class="fas fa-shield-alt mr-2"></i>Security
                        </a>
                        <a href="#notification" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                            <i class="fas fa-bell mr-2"></i>Notification
                        </a>
                        <a href="#billing" data-bs-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                            <i class="fas fa-credit-card mr-2"></i>Billing
                        </a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header border-bottom mb-3 d-flex d-md-none">
                    <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
                        <li class="nav-item">
                            <a href="#profile" data-bs-toggle="tab" class="nav-link has-icon active"></a>
                        </li>
                        <li class="nav-item">
                            <a href="#account" data-bs-toggle="tab" class="nav-link has-icon"></a>
                        </li>
                        <li class="nav-item">
                            <a href="#security" data-bs-toggle="tab" class="nav-link has-icon"></a>
                        </li>
                        <li class="nav-item">
                            <a href="#notification" data-bs-toggle="tab" class="nav-link has-icon"></a>
                        </li>
                        <li class="nav-item">
                            <a href="#billing" data-bs-toggle="tab" class="nav-link has-icon"></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="profile">
                        <h6>YOUR PROFILE INFORMATION</h6>
                        <hr>
                        <form>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="form-label">First Name *</label>
                                    <input type="text" class="form-control">
                                </div>                            
                                <div class="form-group col-6">
                                    <label class="form-label">Last Name *</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Company">Company</label>
                                <input type="text" class="form-control" id="inputCompany5" placeholder="Nec Urna Suscipit Ltd" />
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="inputAddress5">Address</label>
                                    <input type="text" class="form-control" id="inputAddress5" placeholder="P.O. Box 464, 5975 Eget Avenue" />
                                </div>
                                <div class="form-group col-6">
                                    <label for="inputAddress5">Address</label>
                                    <input type="text" class="form-control" id="inputAddress5" placeholder="P.O. Box 464, 5975 Eget Avenue" />
                                </div>
                            </div>
                            <div class="form-row">
                                  <div class="form-group col-md-4">
                                    <label for="inputState5">State</label>
                                    <select id="inputState5" class="form-control">
                                        <option selected="">Choose...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputZip5">Zip</label>
                                    <input type="text" class="form-control" id="inputZip5" placeholder="98232" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="url">URL</label>
                                <input type="text" class="form-control" id="url">
                            </div>
                            <div class="form-group small text-muted">
                                All of the fields on this page are optional and can be deleted at any time, and by filling them out, you're giving us consent to share this data wherever your user profile appears.
                            </div>
                            <button type="button" class="btn btn-outline-secondary">Update Profile</button>
                            <button type="reset" class="btn btn-outline-secondary">Reset Changes</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="account">
                        <h6>ACCOUNT SETTINGS</h6>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp" placeholder="Enter your username" value="kennethvaldez">
                                <small id="usernameHelp" class="form-text text-muted">After changing your username, your old username becomes available for anyone else to claim.</small>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="d-block text-danger">Delete Account</label>
                                <p class="text-muted font-size-sm">Once you delete your account, there is no going back. Please be certain.</p>
                            </div>
                            <button class="btn btn-danger" type="button">Delete Account</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="security">
                        <h6>SECURITY SETTINGS</h6>
                        <hr>
                        <form>
                            <div class="row">
                                <div class="form-group col-4">
                                    <label class="d-block">Change Account Password</label>
                                    <input type="text" class="form-control" placeholder="Enter your old password">
                                    <input type="text" class="form-control mt-1" placeholder="New password">
                                    <input type="text" class="form-control mt-1" placeholder="Confirm new password">
                                </div>
                                <div class="col-4">
                                    <p class="mb-2">Password requirements</p>
                                    <p class="small text-muted mb-2">To create a new password, you have to meet all of the following requirements:</p>
                                    <ul class="small text-muted pl-4 mb-0">
                                        <li>Minimum 8 character</li>
                                        <li>At least one special character</li>
                                        <li>At least one number</li>
                                        <li>Can’t be the same as a previous password</li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label class="d-block">Two Factor Authentication</label>
                                <button class="btn btn-info" type="button">Enable two-factor authentication</button>
                                <p class="small text-muted mt-2">Two-factor authentication adds an additional layer of security to your account by requiring more than just a password to log in.</p>
                            </div>
                        </form>
                        <hr>
                        <form>
                            <div class="form-group mb-0">
                                <label class="d-block">Sessions</label>
                                <p class="font-size-sm text-secondary">This is a list of devices that have logged into your account. Revoke any sessions that you do not recognize.</p>
                                <ul class="list-group list-group-sm">
                                    <li class="list-group-item has-icon">
                                        <div>
                                            <h6 class="mb-0">San Francisco City 190.24.335.55</h6>
                                            <small class="text-muted">Your current session seen in United States</small>
                                        </div>
                                        <button class="btn btn-light btn-sm ml-auto" type="button">More info</button>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="notification">
                        <h6>NOTIFICATION SETTINGS</h6>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label class="d-block mb-0">Security Alerts</label>
                                <div class="small text-muted mb-3">Receive security alert notifications via email</div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                                    <label class="custom-control-label" for="customCheck1">Email each time a vulnerability is found</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2" checked="">
                                    <label class="custom-control-label" for="customCheck2">Email a digest summary of vulnerability</label>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <label class="d-block">SMS Notifications</label>
                                <ul class="list-group list-group-sm">
                                    <li class="list-group-item has-icon">
                                        Comments
                                        <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
                                            <label class="custom-control-label" for="customSwitch1"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item has-icon">
                                        Updates From People
                                        <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                            <label class="custom-control-label" for="customSwitch2"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item has-icon">
                                        Reminders
                                        <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch3" checked="">
                                            <label class="custom-control-label" for="customSwitch3"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item has-icon">
                                        Events
                                        <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch4" checked="">
                                            <label class="custom-control-label" for="customSwitch4"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item has-icon">
                                        Pages You Follow
                                        <div class="custom-control custom-control-nolabel custom-switch ml-auto">
                                            <input type="checkbox" class="custom-control-input" id="customSwitch5">
                                            <label class="custom-control-label" for="customSwitch5"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="billing">
                        <h6>BILLING SETTINGS</h6>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label class="d-block mb-0">Payment Method</label>
                                <div class="small text-muted mb-3">You have not added a payment method</div>
                                <button class="btn btn-info" type="button">Add Payment Method</button>
                            </div>
                            <div class="form-group mb-0">
                                <label class="d-block">Payment History</label>
                                <div class="border border-gray-500 bg-gray-200 p-3 text-center font-size-sm">You have not made any payment.</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>