@page
@model IndexModel

 <h1>Get started with Restaurant Planner Pro</h1>
    <p class="fs-5 col-md-8">Quickly and easily get started with Restaurant Planner. </p>

    <div class="mb-5">
      <a href="../examples/" class="btn btn-primary btn-lg px-4">Access Reports</a>
    </div>

    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h2>Build  Menus</h2>
        <p>Ready to to build your first menu? Use this menu to step through the process.</p>
        <ul class="icon-list">
          <li><a href="./Menu/Index" rel="noopener" target="_blank">Add Menu</a></li>
          <li class="text-muted">Top Selling Items (coming soon!)</li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Build Recipes</h2>
        <p>Build your first recipe. Add Ingredients as you go, or build a list of ingredients first.</p>
        <ul class="icon-list">
          <li><a href="./Recipes/Create">Add Recipe</a></li>
          <li><a href="../Recipes/Index">View Recipes</a></li>
          <li><a href="../Ingredients/Create">Add Ingredients</a></li>
          <li><a href="../Ingredients/Index">View Ingredients</a></li>
        </ul>
      </div>
    </div>
